*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    line-height: 1.5;
}
/* -------------------------opening---------------------------- */
.header{
    height: 100vh;
    width: 100%;
    background-color: #C5D86D; 
    background: url(images/background.avif);
    background-position: center;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
a img{
    height: 100px;
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #261C15;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #F05D23;
    display: flex;
    margin: auto;
    transition: all ease 0.5s;
}
.nav-links ul li:hover:after{
    width: 100%;
}


.textbox{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.textbox h1{
    font-size: 50px;
    color: #261C15;
}
.textbox h1 span{
    color: #F05D23;
}
.textbox p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #261C15;
}
.cv-btn{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #F7F7F2;
    padding: 12px 34px;
    background-color: beige;
    cursor: pointer;
    color: black;
}
.cv-btn:hover{
    background-color: #F05D23;
}
nav .ri{
    display: none;
}
.textbox .icons{
    padding: 25px;
}
.textbox .icons a{
    padding: 8px;
   text-decoration: none;
   color:#261C15;
}
.textbox .icons i{
    font-size: 20px;
}

@media (max-width: 700px){
    .textbox h1{
        font-size: 20px;
        color: #261C15;
    }
    ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background-color: beige;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .ri{
        display: block;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    ul li{
        list-style: none;
        padding: 30px;
        position: relative;
    }
}

/* ------------------------------------about----------------------------------- */

.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    color: #261C15;
}
p{
    color: #261C15;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}
.about-col{
    flex-basis: 30%;
    background-color: beige;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 30px;
    transition: all ease 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px;
}
.about-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
@media (max-width: 700px){
    .row{
        display: inline-block;
    }
}




/* -----------------------skillpage----------------------------------- */
.ski{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 5%;
}
h1{
    font-size: 36px;
    font-weight: 600;
    color: #261C15;
}
p{
    color: #261C15;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.sub-skill{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}
.body{
    display: flex;
    flex-basis: 40%;
    background-color: #261C15;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 3em;
    justify-content: center;
    align-items: center;
    
}
.skill-box{
    width: 100%;
}
.skill{
    text-align: left;
    margin-bottom: 20px;
}
.skills{
    flex-basis: 30%;
    background-color: #261C15;
    
    padding: 30px;
}
.skill-name{
    font-size: 18px;
    font-weight: 700;
    color: #F7F7F2;
    text-transform: uppercase;
}
.skillbar{
    height: 14px;
    background-color: rgb(139, 106, 106);
}

.skillper{
    height: 14px;
    background-color: #E4E6C3;
}
.skill-mf{
    color: #F7F7F2;
    text-align: left;
}

.skill-mf .w-title ul li{
    list-style: decimal;
    display: list-item;
    font-size: 1rem;

}

@media (max-width: 700px){
    .sub-skill{
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
}

/* --------------------services---------------------------- */
.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    color: #261C15;
}
p{
    color: #261C15;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.service-row{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    
}
.service-col{
    flex-basis: 30%;
    background-color: #261C15;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 30px;
    transition: all ease 0.5s;
}
.service-col:hover{
    background-color: #F05D23;
    transform: translate(-10px);
}
.service-col p{
    color: beige;
}
.service-col h3{
    font-size: 100px;
    text-align: center;
    font-weight: 600;
    margin: 10px;
    color: beige;
}
.service-col h5{
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    margin: 10px;
    color: beige;
}
@media (max-width: 700px){
    .service-row{
        display: inline-block;
    }
}


.cta{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background: url(images/background.avif);
    border-radius: 10px;
    margin-bottom: 5%;
}
.cta h1{
    font-size: 36px;
    font-weight: 600;
    color: #261C15;
}
.cta p{
    color: #261C15;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.cta button{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #F7F7F2;
    padding: 12px 34px;
    background-color: #f5f5dc;
    cursor: pointer;
    color: black;
    margin:20px 0 40px 0;
}
.cta button:hover{
    background-color: #F05D23;
}



.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    color: #261C15;
    opacity: 0.6;
}
.footer p{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight:lighter;
    color: #261C15;
    opacity: 0.6;
}
.footer .icons{
    padding: 25px;
    
}
.footer .icons a{
    padding: 8px;
   text-decoration: none;
   color:#261C15;
}
.footer .icons i{
    font-size: 20px;
    opacity: 0.6;
}
